/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/.git
/server/.mvn
/server/logs
/server/target

# compiled output
/web/dist
/web/tmp
/web/out-tsc

# dependencies
/web/node_modules
/web/node

# profiling files
/web/chrome-profiler-events.json
/web/speed-measure-plugin.json

# IDEs and editors
/web/.idea
/web/.project
/web/.classpath
/web/.c9/
*.launch
/web/.settings/
*.sublime-workspace

# Docker
/docker/mars-server/*.jar
/docker/mars-web/dist