<div class="login-container">
  <img src="../../assets/login-page.jpg" alt="" width="100%">
  <div class="center-container animated fadeIn" *ngIf="isSignIn">
    <form [formGroup]="signInForm" (ngSubmit)="signIn()" class="mr-top--20">
      <mat-form-field class="full-width">
        <input matInput placeholder="Użytkownik" autocomplete="off" formControlName="username">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Hasło" formControlName="password">
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" class="full-width mr-top--20">Zaloguj</button>
      <div fxLayout="columns" fxLayoutAlign="space-between center" class="links-container">
        <div class="one-link-container">
          <a class="link" (click)="switchToRegister()">Rejestracja</a>
        </div>
        <div class="one-link-container">
          <a class="link" (click)="switchToForgetPassword()">Zapomniałeś hasła?</a>
        </div>
      </div>
    </form>
  </div>

  <div class="center-container animated fadeIn" *ngIf="isRegister">
    <form class="mr-top--20" [formGroup]="registerForm" (ngSubmit)="registerUser()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nazwa użytkownika" autocomplete="off" formControlName="username">
        <mat-error *ngIf="registerForm.get('username').hasError('required')">
          <div [innerHTML]="validationMessage.messageFor('required')" ></div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Adres email" autocomplete="off" formControlName="email">
        <mat-error *ngIf="registerForm.get('email').hasError('required')">
          <div [innerHTML]="validationMessage.messageFor('required')" ></div>
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('email')">
          <div [innerHTML]="validationMessage.messageFor('email')" ></div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Hasło" autocomplete="off" formControlName="password">
        <mat-error *ngIf="registerForm.get('password').hasError('required')">
          <div [innerHTML]="validationMessage.messageFor('required')" ></div>
        </mat-error>
        <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
          <div [innerHTML]="validationMessage.messageFor('minlength', MIN_PASSWD_LENGTH)" ></div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Powtórz hasło" autocomplete="off" formControlName="confirmPassword">
        <mat-error *ngIf="registerForm.get('password').hasError('required')">
          <div [innerHTML]="validationMessage.messageFor('required')" ></div>
        </mat-error>
        <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
          <div [innerHTML]="validationMessage.messageFor('minlength', MIN_PASSWD_LENGTH)" ></div>
        </mat-error>
      </mat-form-field>
      <div fxLayout="columns" fxLayoutAlign="space-between center" class="mr-top--20">
        <button mat-flat-button color="primary" type="submit" class="btn" [disabled]="!registerForm.valid">Zatwierdź</button>
        <button mat-flat-button color="primary" type="button" class="btn" (click)="switchToSignIn()">Anuluj</button>
      </div>
    </form>
  </div>

  <div class="center-container animated fadeIn" *ngIf="isForgetPassword">
    <form class="mr-top--40">
      <span>Wypełnij poniższe informacje. Po ich zatwierdzeniu otrzymasz email z instrukcjami.</span>
      <mat-form-field class="full-width mr-top--10">
        <input matInput placeholder="Email" autocomplete="off">
      </mat-form-field>
      <div fxLayout="columns" fxLayoutAlign="space-between center" class="mr-top--20">
        <button mat-flat-button color="primary" type="submit" class="btn" >Zatwierdź</button>
        <button mat-flat-button color="primary" type="button" class="btn" (click)="switchToSignIn()">Anuluj</button>
      </div>
    </form>
  </div>

</div>
