<div class="login-container">
  <div class="username-page-container">
    <form class="example-form mr-top--20">
      <mat-form-field class="full-width">
        <input matInput placeholder="Użytkownik" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Hasło">
      </mat-form-field>
      <button mat-flat-button color="accent" type="submit" class="full-width mr-top--20" >Zaloguj</button>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="links-container">
        <div><a>Rejestracja</a></div>
        <div><a>Zapomniałeś hasła?</a></div>
      </div>
    </form>
  </div>
</div>
