.login-container {
  margin: 0;
  padding: 0;
  background-color: #303030 !important;
  height: 100%;
  color: #fff;
}

.login-container:before {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #e91e63;
  content: "";
  z-index: 0;
}

.login-container:after {
  height: 50%;
  width: 100%;
  position: absolute;
  background: #303030;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0;
}

.center-container {
  background-color: #424242;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 2px;
  width: 100%;
  max-width: 400px;
  display: inline-block;
  vertical-align: middle;
  padding: 35px 55px 35px;
  min-height: 250px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -160px;
  z-index: 100;
}

.links-container {
  margin-top: 20px;
  font-weight: 300;
}

.one-link-container {
  display: inline-block;
  color: #e91e63;
}

.link:hover {
  cursor: pointer;
}

.link:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #e91e63;
  transition: width .3s;
}

.link:hover::after {
  width: 100%;
}

.btn {
  width: 48%;
}
